@import url(./reset.css);
/* ==============================
   SECTION 2: THEME CSS
   ============================== */
   header *{
      text-align: center;
      line-height: 7.5rem;
  }
  
  div.gallery-primary{ /* contenteur */
      max-width: 120rem;
      margin: 5rem auto;
      background-color: #fff;
  }
  div.gallery-primary ul{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap:1rem;
    padding: 1rem;
  }

  div.gallery-primary ul li:nth-of-type(5){
    grid-column: 1 / 3;
  }
  
  div.gallery-primary ul li:nth-of-type(6){
    grid-column: 3 / 5;
    
  }
  div.gallery-primary ul li:nth-of-type(7){
    grid-column: 1 / 5;
  } 

  footer *{
   text-align: center;
   line-height: 7.5rem;
}
